*{
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
  
}


header{

    background-color: #352F44;
    color: #ffffff;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
}
header h1 {
    padding: 22px 0px;
}
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
  }
  
  .burger {
    display: none;
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
  }
  
@media screen and (max-width: 825px) {
    /* Burger */
    .burger {
      display: block;
      cursor: pointer;
    }
  
    .toggle-burger .line-1 {
      transform: rotate(-45deg) translate(-5px, 7px);
    }
  
    .toggle-burger .line-2 {
      opacity: 0;
    }
  
    .toggle-burger .line-3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
    /* Navigation */
    nav {
      position: fixed;
      width: 50%;
      right: 0;
      top: 0;
      height: 100vh;
      flex-direction: column;
      background: var(--primaryBackgroundColor);
      border-left: 1px solid var(--borderColor);
      z-index: 9;
      transform: translateX(100%);
      transition: 0.2s ease-in-out;
    }
  
    nav ul {
      height: 100vh;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  
    .nav-active {
      transform: translateX(0);
    }
}


  

main {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

ul{
    list-style: none;
    width: 100%;
    overflow: hidden;
    background-color: #B9B4C7;
    position: sticky;
    justify-content: space-between;
    top: 0;
}
li {
    display: inline-block; 
    margin-right: 10px; 
  }
li a {
    display: flex;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: #5C5470;
}
.navbar{
    justify-content: space-around;
    text-align: center;
    
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background-color: #ffffff;
    color: #333333;
}
article div {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
  }
article img {
    min-height: 100px;
    width: 50%;
    border-radius: 3px;
    object-fit: cover;
    object-position: right;  

}
article p {
    margin-top: 20px;
    text-indent: 20px; 
    text-align: left;
}
article h3 {
    padding: 10px;
}

article p + img {
    margin-left: 10px; 
}

article {
    padding: 5px;
    box-shadow: 1px 1px 1px  black;
    border-radius: 3px;
    text-align: center;
}
aside{
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

aside img {
    width: 35vh;
    height: auto;
}
footer{
    text-align: center;
    padding: 20px;
    background-color: #B9B4C7;
    color: #ffffff;
    margin-top: 5px;
}
@media all and (max-width: 1000px){
    ul {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
    }
    ul li {
        display: inline-block;
    }
    .content
    {
        flex-direction:column;
        display: flex;
    }
    aside h3, table{
        text-align: center;
    }
    table{
        margin: auto;
    }
}